backcall==0.1.0
cycler==0.10.0
decorator==4.3.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
kiwisolver==1.0.1
matplotlib==3.0.0
numpy==1.15.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.6
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.2
PyQt5==5.11.3
PyQt5-sip==4.19.13
python-dateutil==2.7.3
Shapely==1.6.4.post2
simplegeneric==0.8.1
sip==4.19.8
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
